<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ops.school.api.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="ops.school.api.entity.Product">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_image" jdbcType="VARCHAR" property="productImage"/>
        <result column="discount" jdbcType="DECIMAL" property="discount"/>
        <result column="box_price_flag" jdbcType="INTEGER" property="boxPriceFlag"/>
        <result column="product_category_id" jdbcType="INTEGER" property="productCategoryId"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
        <result column="sale" jdbcType="INTEGER" property="sale"/>
        <result column="is_show" jdbcType="INTEGER" property="isShow"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="stock_flag" jdbcType="INTEGER" property="stockFlag"/>
        <collection property="attribute" ofType="ops.school.api.entity.ProductAttribute" javaType="ArrayList">
            <result column="aid" jdbcType="INTEGER" property="id"/>
            <result column="product_id" jdbcType="INTEGER" property="productId"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="price" jdbcType="DECIMAL" property="price"/>
        </collection>
    </resultMap>
    <update id="sale" parameterType="map">
  update  product set sale=sale+#{count} where id=#{id}
  </update>

    <update id="stock" parameterType="map">
  update  product set stock=stock-#{count} where id=#{id} and (stock >#{count} or stock = #{count})
  </update>

    <select id="findin" parameterType="list" resultMap="BaseResultMap">
        select * from product where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_delete=0
    </select>

    <select id="minDiscount" parameterType="int" resultType="BigDecimal">
   select min(discount) from product where shop_id=#{id} and is_delete=0 and is_show=1 and discount!=1
  </select>

    <select id="findByShopAllDiscount" parameterType="int" resultMap="BaseResultMap">
   select product.*,product_attribute.name,product_attribute.price,product_attribute.id  aid from product left join product_attribute  on product.id = product_attribute.product_id
   where  
         shop_id =#{productCategoryId} 
         and product.is_delete=0  and product.is_show=1 and discount!=1
         order by sale desc
  </select>
    <select id="findByCategoryId_wxUser" parameterType="int" resultMap="BaseResultMap">
   select product.*,product_attribute.name,product_attribute.price,product_attribute.id  aid from product left join product_attribute  on product.id = product_attribute.product_id
   where  
         product_category_id =#{productCategoryId} 
         and product.is_delete=0  and product.is_show=1
          order by sale desc
  </select>
    <select id="findByCategoryId" parameterType="int" resultMap="BaseResultMap">
   select product.*,product_attribute.name,product_attribute.price,product_attribute.id  aid from product left join product_attribute  on product.id = product_attribute.product_id
   where  
         product_category_id =#{productCategoryId} 
         and product.is_delete=0 
          order by sale desc
  </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    *
    from product
    where Id = #{id,jdbcType=INTEGER}
  </select>

    <update id="updateByPrimaryKeySelective" parameterType="ops.school.api.entity.Product">
        update product
        <set>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productImage != null">
                product_image = #{productImage,jdbcType=VARCHAR},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=DECIMAL},
            </if>
            <if test="boxPriceFlag != null">
                box_price_flag = #{boxPriceFlag,jdbcType=INTEGER},
            </if>
            <if test="productCategoryId != null">
                product_category_id = #{productCategoryId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="sale != null">
                sale = #{sale,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="stockFlag != null">
                stock_flag = #{stockFlag,jdbcType=INTEGER},
            </if>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>

</mapper>