<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ops.school.api.dao.ProductAttributeMapper">
    <resultMap id="BaseResultMap" type="ops.school.api.entity.ProductAttribute">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="is_discount" jdbcType="INTEGER" property="isDiscount"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select product_attribute.*,
    if((select product.discount from product where product.id = product_attribute.product_id)=1,'0','1' ) as is_discount from product_attribute 
    where Id = #{id,jdbcType=INTEGER}
  </select>
    <insert id="insert" parameterType="ops.school.api.entity.ProductAttribute">
    insert into product_attribute ( product_id, name, 
      price)
    values (#{productId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective" parameterType="ops.school.api.entity.ProductAttribute">
        insert into product_attribute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ops.school.api.entity.ProductAttribute">
        update product_attribute
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="ops.school.api.entity.ProductAttribute">
    update product_attribute
    set product_id = #{productId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
    <delete id="delete" parameterType="int">
   delete from product_attribute where id=#{id}
  </delete>
</mapper>